body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #202124; /* Couleur sombre */
    color: #ffffff; /* Couleur du texte */
}

header {
    text-align: center;
    padding: 50px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #555;
}

footer {
    text-align: center;
    padding: 20px 0;
}
