body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('image fond.jpg'); /* Chemin de votre image de fond */
    background-size: cover;
    background-position: center;
    color: #ffffff; /* Couleur du texte */
}

header {
    text-align: center;
    padding: 50px 0;
}

h1 {
    font-size: 48px;
    font-weight: bold;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    transition: all 0.3s ease;
}

nav ul li a:hover {
    color: #ffcc00; /* Couleur au survol */
}

main {
    margin-top: 50px;
    text-align: center;
}


/* Ajout de styles pour la classe "social" */
.social {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.social a {
    margin: 0 10px;
}

.social img {
    width: 40px;
    height: auto;
}

